<% files.forEach(file => {%>
	<div class="fileRow">
		<img src="/icons/file.svg" alt="file icon">
		<p class="fileName"><%= file.name %><%= file.extension %></p>
		
		<button onClick="window.location.href = '/download/<%= parentShareId %>?fileId=<%= file.id %>'" class="download">
			<img src="/icons/download.svg" alt="download button" class="rowIcon">
		</button>
		<p class="fileSize"><%= file.size_bytes %></p>
		<p class="createdAt readOnly"><%= file.createdAt %></p>
	</div>		
<%}) %>